MONGO_URI=mongodb+srv://hoangculus25_db_user:rpOAD3Li8ZUeQqsq@cluster1.z8qcclv.mongodb.net/?appName=Cluster1

DB_NAME=dbn_ttcs

CLOUDINARY_NAME=dggcrjhzd
CLOUDINARY_API_KEY=798253433793532
CLOUDINARY_API_SECRET=6fY3myragP1X42HGAK7cinQNUqY
CLOUDINARY_FOLDER=ttcs

REDIS_HOST=redis_cache
REDIS_PORT=6379
REDIS_DB=0

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VHOST=/
RABBITMQ_CHECKIN_EXCHANGE=attendance.events
RABBITMQ_CHECKIN_QUEUE=attendance.checkin.queue
RABBITMQ_CHECKIN_ROUTING_KEY=attendance.checkin.requested
RABBITMQ_CHECKIN_RETRY_EXCHANGE=attendance.retry
RABBITMQ_CHECKIN_RETRY_QUEUE=attendance.checkin.retry.queue
RABBITMQ_CHECKIN_RETRY_ROUTING_KEY=attendance.checkin.retry
RABBITMQ_CHECKIN_DEAD_LETTER_EXCHANGE=attendance.dead
RABBITMQ_CHECKIN_DEAD_LETTER_QUEUE=attendance.checkin.dlq
RABBITMQ_CHECKIN_DEAD_LETTER_ROUTING_KEY=attendance.checkin.failed
RABBITMQ_CHECKIN_MAX_RETRIES=3
RABBITMQ_CHECKIN_RETRY_DELAY_MS=5000
RABBITMQ_PREFETCH_COUNT=20
ENABLE_APP_SCHEDULER=false
